[submodule "IntuneAssistantWeb"]
	path = IntuneAssistantWeb
	url = https://github.com/srozemuller/IntuneAssistantWeb
[submodule "IntuneAssistant.WebModule"]
	path = IntuneAssistant.WebModule
	url = https://github.com/srozemuller/IntuneAssistant.WebModule
