---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Assignments overview",
    description:
      "See what your assignments are doing at a glance. Get insights into the status of your assignments and see which devices are affected.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Policy management",
    description:
        "Manage your policies with ease. Get a clear overview of your policies and see which devices are affected by them.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Security",
    description:
      "Conditional Access, Configuration, and more. Get insights into your security settings and see which devices are affected.",
    icon: "bx:bxs-data",
  },
  {
    title: "Settings overview",
    description:
      "Looking for a specific setting? Get a clear overview of all settings and see which devices are affected by them.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Devices overview",
    description:
      "Looking for a specific device, or duplicates? Get a clear overview of all devices and see which settings are applied to them.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "It is all for the community. So hop in and lets get started to make this tool even better.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need for modern Intune management
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    The Intune Assistant WebViewer has everything you need to view Microsoft Intune data and helps you managing the Intune platform with extreme efficiency.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
