---
const { error, errorDescription } = Astro.params;

if (error) {
    // Log the URL parameters to the console
    console.log("URL Parameters:", {
        error,
        errorDescription
    });
    return Astro.redirect(`/status/error?error=${encodeURIComponent(error)}&error_description=${encodeURIComponent(errorDescription)}`);
} else {
    // Log the URL parameters to the console
    console.log("URL Parameters:", {
        error,
        errorDescription
    });
    return Astro.redirect('/status/onboarded');
}


---

<MainLayout title="Onboarded" hideFooter>
    <div class="flex items-center justify-center h-[calc(100vh-25vh)]">
        <Card className="w-[400px] ">
            <CardHeader>
                <CardTitle class="text-center">
                    Status
                </CardTitle>
                <CardDescription>You have made it!</CardDescription>
            </CardHeader>
        </Card>
    </div>
</MainLayout>