---
import MainLayout from "@/layouts/main-layout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

const gifImage = "/images/giphy.gif";

// Extract query parameters
const urlParams = new URLSearchParams(Astro.url.search);
const error = urlParams.get('error');
const errorDescription = urlParams.get('error_description');

// Redirect to error page if error parameter is present
if (error) {
  Astro.redirect(`/status/error?error=${encodeURIComponent(error)}&error_description=${encodeURIComponent(errorDescription)}`);
}
---

<MainLayout title="Onboarded" hideFooter>
  <div class="flex items-center justify-center h-[calc(100vh-25vh)]">
    <Card className="w-[400px] ">
      <CardHeader>
        <CardTitle class="text-center">
          Congratulations
        </CardTitle>
        <CardDescription>You have made it!</CardDescription>
      </CardHeader>
      <CardContent>
        <div class="flex justify-center">
          <img src={gifImage} alt="Celebration GIF" />
        </div>
        <hr class="border-t border-white my-4" />
        You have successfully activated Intune Assistant and ready for launch 🚀.
      </CardContent>
      <CardFooter className="flex justify-between">
        — Enjoy!
      </CardFooter>
    </Card>
  </div>
</MainLayout>