---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import { Icons } from "@/icons";
import InfoLanding from "@/components/sections/info-landing.astro";
import type { InfoLdg } from "@/types";

const info: InfoLdg = {
    title: "What Intune Assistant can do for you",
    description: "Use the Intune Assistant Web to get insights into your Microsoft Intune environment with ease.",
    image: "/images/gradients/cli.jpg",
    list: [
        {
            title: "Fast insights",
            description: "The Intune Assistant Web provides fast insights into your Microsoft Intune environment.",
            icon: "lucide:cpu"
        },
        {
            title: "Security improvements",
            description: "See your Conditional Access policies settings a single view.",
            icon: "lucide:shield-check"
        },
        {
            title: "Keep your environment clean",
            description: "Finds duplicate settings, unused policies and more.",
            icon: "lucide:layers-3"
        },
        {
            title: "Integrated with Entra ID",
            description: "Integrated with Entra ID for secure access using a single identity.",
            icon: "lucide:fingerprint"
        }
    ]
};
---

<MainLayout title="CLI">
    <section class="space-y-6 pb-12 pt-16 lg:py-28">
        <div class="container flex max-w-[64rem] flex-col items-center gap-5 text-center">
            <h1 class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance">
                About
                <span class="text-gradient_indigo-purple">
          <span class="font-sans font-bold">Intune Assistant</span>
        </span>
            </h1>
            <p class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance">
                Made for the modern Cloud Engineer focussed on modern workplace and identity. <br/>{" "}
            </p>
        </div>
        <div class="container flex max-w-[64rem] flex-col items-center gap-5 text-center">
            <p class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance">
                Intune Assistant is born out of the need to simplify and streamline Microsoft Intune management. <br/>{" "}
            </p>
        </div>
    </section>
    <InfoLanding data={info} reverse={true} />
    <section id="open-source" class="container py-8 md:py-12 lg:py-28">
        <div class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center">
            <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
                Automate
            </h2>
            <p class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7">
                The Intune CLI is designed to make your life easier.<br/>{" "}
                With a simple and intuitive interface, you can automate your Microsoft Intune operations in a very easy way.
            </p>
            <div class="flex justify-center space-x-2 md:space-x-4">
                <div class="button-special-block">
                    <a target="_blank" href="https://www.nuget.org/packages/IntuneCLI" class={cn(buttonVariants({ size: "lg", variant: "outline" }), "button-special")}>
                        Download IntuneCLI
                    </a>
                </div>
                <a href="/docs/cli" class={cn(buttonVariants({size: "lg", variant: "outline"}))}>
                    Reference&nbsp;<Icons.BookOpen className="h-4 w-4" />
                </a>
            </div>
        </div>
    </section>
</MainLayout>
