---
import BaseLayout from '@/layouts/BaseLayout.astro'
import DemoPage from '@/components/policies/ca/page.tsx';
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Policies CA" mainClass="flex-1">
    <section id="features" class="bg-background-200 py-8 md:pt-12">
        <div class="container space-y-6">
            <div class="mx-auto flex max-w-[58rem] flex-col space-y-4">
                <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">Policies CA</h2>
                <p class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text">
                    Manage the policies for CA. This page allows you to view and manage the policies.
                </p>
            </div>
        </div>
    </section>

    <DemoPage client:only="react" />
</BaseLayout>

<script type="module" src="/src/components/auth/authhandler.js"></script>