---
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Integrations from "@/components/sections/integrations.astro";
import * as React from "react";
---

<MainLayout title="Landing">
  <section class="flex items-center justify-center space-y-6 pb-12 pt-16 lg:py-28">
    <div class="flex flex-col md:flex-row items-center gap-5">
      <div class="flex flex-col items-center gap-5 text-center">
        <h1 class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance">
          Revolutionize
        </h1>
        <h1 class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance">
          Intune Management
        </h1>
        <p class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance">
          Intune Assistant empowers administrators to manage Microsoft Intune with unparalleled efficiency.
          It simplifies scattered, complex data, providing clear insights and streamlined management processes.
          Elevate your Intune administration to new heights with cutting-edge visualization and analysis.
        </p>

        <div class="flex justify-center space-x-2 md:space-x-4">
          <a href="/onboarding" class={cn(buttonVariants({size: "lg"}))}>
            Onboard directly
          </a>
          <a href="/about" class={cn(buttonVariants({size: "lg", variant: "outline"}))}>
            About Intune Assistant
          </a>
        </div>
      </div>
      <img src=/images/landing-page.png alt="Landing Page Image" class="w-full h-auto max-w-[42rem] rounded-lg" />
    </div>
  </section>
  <Integrations />
</MainLayout>
