---
import MainLayout from "@/layouts/main-layout.astro";
import OnboardingCard from "@/components/onboarding-card";
import { msalInstance } from "@/authconfig";


const blueshiftEnvironments = [
  {
    "environment": "community",
    "displayName": "Community",
    "url": `https://login.microsoftonline.com/{organization}/adminconsent?client_id=`
  }
]

---

<MainLayout title="Onboarding" mainClass="flex-1 bg-background-200">
  <div class="flex items-center justify-center h-[calc(100vh-25vh)]">
    <div class="md:1/2 xl:w-1/3">
      <OnboardingCard environments={blueshiftEnvironments} client:only="react" />
    </div>
  </div>
</MainLayout>
