---
export const prerender = false
import { Image } from 'astro:assets';
import MainLayout from "@/layouts/main-layout.astro";
import { Button } from '@/components/ui/button';


const { error } = Astro.params;
---

<MainLayout title="Status" mainClass="flex-1 bg-background-200">
  <div class="flex flex-col items-center justify-center h-[calc(100vh-25vh)]">
    <h1 class="text-2xl font-semibold mt-10">
      That didn't work. Please try again.
    </h1>
    <code>{error}</code>
    <a href="/" class="mt-5">
      <Button variant="link">Return to home</Button>
      <a/>
  </div>
</MainLayout>
