/* src/components/assignments/migrate/data-table-row-actions.css */
@keyframes fadeToNormal {
    from {
        background-color: green;
    }
    to {
        background-color: transparent;
    }
}

.row-animating {
    animation: fadeToNormal 2s forwards;
}