---
import ConfigurationPolicies from '@/components/policies/configuration/page';
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout title="Configuration Policies" mainClass="flex-1">
    <section id="features" class="bg-background-200 py-8 md:pt-12">
        <div class="container space-y-6">
            <div class="mx-auto flex max-w-[58rem] flex-col space-y-4">
                <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">Configuration policies</h2>
                <p class="max-w-[95%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text">
                    Manage the configuration policies.
                </p>
            </div>
        </div>
    </section>
    <ConfigurationPolicies client:only="react" />
</MainLayout>